{% extends "base.html" %}

{% block title %}Bates Codex One - Home{% endblock %}

{% block content %}

<h2>Welcome!</h2>
<div class="welcome">
    <p>This site archives the first codicological and paelographical analysis of the manuscript known as Bates Code One, a mid-14th century paper manuscript, held in <a href="https://www.bates.edu/archives/">the Muskie Archives at Bates College.</a></p>
    <p>I am Peter Nadel and currently I work at Tufts University as the Digital Humanities Natural Language Processing Specialist. But before this, I was a student at Bates, interested in Medieval manuscripts. With the support of <a href="https://www.bates.edu/religious-studies/faculty/allison-robert-w/">Professor Emeritus Robert Allison</a>, I was able to lead the first analysis of a Medieval manuscript held by the Muskie Archives. This experience was invaluable to me and I sought to preserve the work that we did together in a publically accessible website.</p>
</div>

{% endblock %}